<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Legos</title>
  </head>
  <body>
    <h1>New Lego Set</h1>
    <form action="/legos" method="POST">
      Name: <input type="text" name="name" /><br />
      Img Url: <input type="text" name="img" /><br />
      Theme:
      <select name="theme">
        <option value="Star Wars">Star Wars</option>
        <option value="Lego Icons">Lego Icons</option></select
      ><br />
      Pieces: <input type="number" name="pieces" /><br />
      Item Number: <input type="number" name="itemNumber" /><br />
      Dimensions:
      <input type="text" name="dimensions" placeholder="H: W: D:" /><br />
      Built: <input type="checkbox" name="built" /><br />
      Purchased: <input type="checkbox" name="purchased" /><br />
      <input type="submit" value="Add new Lego Set" />
    </form>
  </body>
</html>
