<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Legos Wishlist</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              forestGreen: "#374336",
              forestOrange: "#FFAB2D",
              lighterforestOrange: "#fff7ea",
              tan: "#79805A",
              darkforestGreen: "#37381D",
              lighterforestGreen: "#4b564a",
            },
          },
        },
        plugins: ["prettier-plugin-tailwindcss"],
      };
    </script>
  </head>

  <body class="bg-lighterforestGreen">
    <style type="text/css">
      body {
        font-family: "Mooli", sans-serif;
      }
    </style>

    <h1 class="bg-forestGreen text-forestOrange text-center p-20 text-7xl">
      Lego Wishlist
    </h1>

    <nav class="bg-forestGreen text-center text-forestOrange pb-8 mb-20">
      <a
        class="hover:border-b-4 border-forestOrange ease-in-out duration-200"
        href="#"
        >Add to Wishlist</a
      >
    </nav>
  </body>
</html>
